@charset "UTF-8";
body {
    position: relative;
    font-family: 'Roboto', sans-serif; /* Apply the custom font */
}
.navbar1 {
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.mt {
	margin-top: 6rem !important;	
}

.navbar-brand img {
    height: 40px; /* Giữ kích thước hình ảnh giống nhau */
    width: auto; /* Tự động điều chỉnh chiều rộng */
}

.nav-link, .navbar-brand {
    color: #000 !important;
    font-weight: 700; /* Make font bold */
}
.btn-primary {
    margin-left: 15px;
    color: #fff;
    font-weight: 700; /* Make button text bold */
}
.nav-icon {
    font-size: 20px;
    color: #6c757d;
    margin-left: 15px;
}

.nav-icon-primary{
    font-size: 20px;
    color: #6c757d;
    margin-left: 15px;
}

.nav-icon i {
    color: #696969; /* Change icon color to gray */
}

.banner {
    background-color: #e7f3ff;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
}

.banner h2 {
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.banner p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #696969;
}

.banner .btn {
    margin-top: 20px;
    margin-right: 10px;
}

.grid {
	width: 90%;
    margin-left: auto;
    margin-right: auto;
	height: 342px;
    display: flex;
    align-items: center;
    background-color: #e7f3ff;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #e0e2e5;
}

.grid .banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid .banner-image img {
    max-width: 100%;
    height: 340px;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: auto;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    gap: 16px;
}
.navbar .form-inline {
    display: flex;
    align-items: center;
}
.navbar .justify-content-between {
    flex: 1; /* Allows the container to take available space for centering */
    display: flex;
    justify-content: space-between; /* Aligns content on both ends */
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Centers the div */
}
.breadcrumb {
    background-color: #fff; /* Set background to white */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: none; /* Remove any box shadow if applied by default */
}
.breadcrumb-item a {
    color: #007bff; /* Link color */
    text-decoration: none;
}
.breadcrumb-item.inactive {
    color: gray; /* Màu xám cho ngôi nhà */
    pointer-events: none; /* Vô hiệu hóa khả năng nhấp chuột */
}
.container1 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* CSS cho hộp thông tin tài khoản */
.account-info {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    top: 90%; 
    right: 90px; 
    width: 160px;
    z-index: 1000;
    opacity: 0;
  
    /* Đổi tâm của tranform */
    transform-origin: center top;  
    animation: showNotify ease-in 0.25s;

    /* khai báo cho trình duyệt tối ưu chuyển động */
    will-change: opacity, transform;
}

@keyframes showNotify {
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Mũi tên chỉ về phía tài khoản */
.account-info::after {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -34px;
    right: 52px;
   
}


/* Hiển thị hộp khi hover vào cả icon tài khoản và hộp thông tin tài khoản */
#account-icon:hover + #account-info,
#account-info:hover {
  display: block;
  opacity: 1;
  top: 60px; 
}

.account-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.account-info ul li {
  padding: 8px 0;
}

.account-info ul li a {
  text-decoration: none;
  color: #333;
}

.account-info ul li a:hover {
  color: #007bff;
}

.account-info-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
#account-icon {
    position: relative; 
    z-index: 1050; 
}
