<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>project_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/views/login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SanPhamController</display-name>
    <servlet-name>SanPhamController</servlet-name>
    <servlet-class>Controller.SanPhamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanPhamController</servlet-name>
    <url-pattern>/SanPhamController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietSPController</display-name>
    <servlet-name>ChiTietSPController</servlet-name>
    <servlet-class>Controller.ChiTietSPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietSPController</servlet-name>
    <url-pattern>/ChiTietSPController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>Controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangController</display-name>
    <servlet-name>GioHangController</servlet-name>
    <servlet-class>Controller.GioHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangController</servlet-name>
    <url-pattern>/GioHangController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanController</display-name>
    <servlet-name>ThanhToanController</servlet-name>
    <servlet-class>Controller.ThanhToanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanController</servlet-name>
    <url-pattern>/ThanhToanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaiKhoanController</display-name>
    <servlet-name>TaiKhoanController</servlet-name>
    <servlet-class>Controller.TaiKhoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaiKhoanController</servlet-name>
    <url-pattern>/TaiKhoanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonHang</display-name>
    <servlet-name>DonHang</servlet-name>
    <servlet-class>Controller.DonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonHang</servlet-name>
    <url-pattern>/DonHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLySPController</display-name>
    <servlet-name>QuanLySPController</servlet-name>
    <servlet-class>Controller.QuanLySPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLySPController</servlet-name>
    <url-pattern>/QuanLySPController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoaDonController</display-name>
    <servlet-name>HoaDonController</servlet-name>
    <servlet-class>Controller.HoaDonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoaDonController</servlet-name>
    <url-pattern>/HoaDonController</url-pattern>
  </servlet-mapping>
</web-app>